@import "./colors";
@import "./variables";

@mixin footer_default () {
    width: 100%;
    margin: 0;
    height: var(--height_footer);
    background-color: $color_footer;
    color:$color_label2;
    position: fixed;
    bottom: 0;
    display:flex;
    align-items: center;
    justify-content: start;
    padding-left:10px;
}
